.Rproj.user
.Rhistory
.RData
.Ruserdata
data/**
documents/**
reports/**

# ignore all programs that has prefix tmp_
/programs/tmp_*


# Allow the reports/ folder itself
!reports/


# Allow .gitkeep files at any depth
!**/.gitkeep
